/*  Mega Menu CSS - RVP  */

.nav-link {
  font-size: 0.95rem;
}

#basic-nav-dropdown {
  font-size: 0.95rem;
}

#seeMoreLink {
  color: #607d8b;
}

#seeMoreLink:hover {
  color: black;
  font-weight: 400;
}

.dropdown-menu {
  padding: 1em;
  /* height: 60vh; */
  width: 45vw;
  background-color: white;

  /* outline: 1px solid red; */
}

.dropdown-item:hover {
  outline: none;
  box-shadow: none;
  background: none;
}
.dropdown-item a:hover {
  color: black;
}

.dropdown-item {
  height: 2em;
  padding-left: 1em;
}

.dropdown-header {
  font-weight: 700;
  padding-left: 0em;
}

@media only screen and (min-width: 600px) {
  .eventsNav1 {
    width: 20em;
    padding-bottom: 1em;
  }
}

/* new flex menu starts rvp */
.flex-container {
  display: flex;

  /* background-color: DodgerBlue; */
  flex-wrap: wrap;
  flex-direction: row;

  width: 100%;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  word-wrap: break-word;
  flex-direction: row;
  flex-basis: 22.33%;
}

/* for mobile view */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .dropdown-menu {
    height: 50vh;
    overflow: scroll;
    margin-left: 1rem;
    width: 80vw;
  }
  .flex-container > div {
    width: 45vw;
  }
}
/*  Mega Menu CSS END - RVP  */
